.body {
	display: flex;
	height: auto;
	min-height: 100vh;
	flex-direction: column;
	background: rgb(203, 206, 212);
}
.main-body {
	flex: 1;
	margin: auto;
	z-index: 1;
}
.warning-text {
	color: red;
}
.footer {
	display: flex;
	align-items: flex-end;
	max-height: 30px;
	justify-content: center;
	color: white;
	flex: 2;
	background-color: rgb(113, 126, 184);
	padding: 0 0 10px 0;
}
.footer-add {
	position: fixed;
	bottom: 0;
	width: 100%;
}
img {
	width: 500px;
	height: 500px;
}
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	overflow: scroll;
	position: absolute;
	left: 0;
}
.aboutList {
	list-style-type: none;
	padding: 10px;
	max-width: 450px;
}
@media only screen and (max-width: 500px) {
	img {
		width: 350px;
		height: 350px;
	}
}
